.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .title{
    margin-top: 2em;
    padding:0 0 .8em 1em;
    margin-bottom: 40px;
    border-left:10px solid rgb(23, 113, 187);
    border-bottom: 10px solid rgb(23, 113, 187);
}
.arrow{
    color:rgb(23, 113, 187);
    border-radius: 10px;
    font-size: 1.6em;
    padding: 10px 0;
    width: 50px;
    margin-top: 10px;
    transition: background .3s linear;

}
.arrow:hover{
    background-color: rgb(23, 113, 187);
    color: white;
    
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
}

.service-list .service{
    position: relative;
    padding: 30px;
    box-shadow: 1px 1px 4px rgb(196, 192, 192);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5vh 20px;
    min-width: 250px;
    max-width: 350px;
    max-height: 400px;
}

.service img{
    height: 30%;
}
.service:hover{
    box-shadow: 1px 1px 10px rgb(196, 192, 192);
}
.service p{
    text-align: justify;
    color: rgb(90, 90, 90);
}

.service-btn{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color:rgb(23, 113, 187) ;
    background-color: transparent;
    color:rgb(23, 113, 187);

}
.service .titile{
    color:rgb(23, 113, 187);
    padding-bottom: 20px;
}