.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-container{
    
    display: flex;
    padding: 6vw;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("../../assets/image/contact info bg.png");
    background-size: cover;
    flex-wrap: wrap;
}

.about-us-img{
    min-width: 250px;
    max-width: 300px;
    overflow: hidden;
}
.about-us-img img{
    width: 100%;
    
}
.about-us > .title{
    margin-top: 2em;
    padding:0 0 .8em 1em;
    margin-bottom: 40px;
    border-left:10px solid rgb(23, 113, 187);
    border-bottom: 10px solid rgb(23, 113, 187);
}

.about-us-content .title{
    padding-bottom: 1em;
    text-align: center;
    color:  rgb(255, 255, 255);
}
.about-us-content {
    padding: 1em;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-text{
    color:rgb(199, 203, 207);
    font-size: 1.5em;
    text-align: justify;
    margin: 1em;

    font-family: 'Fjalla One', sans-serif;
}

.about-us-container .name{
    color: white;
    font-size: 2em;
    font-family: 'Lobster', cursive;
    text-align: center;
}


@media screen and (max-width:765px) {
    .about-us-content{
        max-width: 100vw;
    }
}