
*{
    margin: 0;
}

.header{
    padding: 20px 0;
    height: 100vh;
    background: url("../../assets//image/bg4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}