*{
    font-family: sans-serif;
    box-sizing: border-box;
}

li a{
    text-decoration: none;
    color: white;
}
.nav-lists ul{
    list-style:none;
    display: inline;
    padding: 0;
}
.nav-btn{
    display: none;
    width: 30px;
    height: 30px;
}

.nav-lists ul li{
    color: white;
    display: inline;
}
.logo{
 
}

.contact-us-btn{
    background-color: white;
    border: none;
    color: rgb(23, 113, 187);
    border-radius: 20px;
    padding: 10px 10px ;
    transition: background-color 0.2s linear;
    font-size: 17px;
}
.contact-us-btn:hover{
    background-color: rgb(23, 113, 187) ;
    color: white;

}

@media all and (min-width:680px){
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 150px;
    }
    .nav-lists ul li{
        color: white;
        display: inline;
        padding: 0 30px;
        
    }

}

@media  all and (max-width:550px) {
    nav{
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }
    .nav-lists{
        background-color: rgb(12, 153, 172);
        display: flex;
        border-radius: 20px;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        overflow: hidden;
        transition: height 0.5s linear;
    }
    .nav-lists ul{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .nav-lists ul li{
        padding: 10px 0;
    }
    .show-nav-bar{
        height: 160px;
    }
    .nav-btn{
        display: inline;
        position: absolute;
        top:0px;
        right: 30px;
    }
}