*{
    font-family: sans-serif;
    box-sizing: border-box;
}

li a{
    text-decoration: none;
    color: white;
}
.nav-lists ul{
    list-style:none;
    display: inline;
    padding: 0;
}
.nav-btn{
    display: none;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
    transition: transform 0.3s linear;
}

.nav-btn:hover{
    transform: rotate(180deg);
}

.nav-lists ul li{
    color: white;
    display: inline;
}
.logo{
 margin-left: 10px;
 height: 50px;
}

.contact-us-btn{
    background-color: white;
    border: none;
    color: rgb(23, 113, 187);
    border-radius: 20px;
    padding: 10px 10px ;
    transition: background-color 0.2s linear;
    font-size: 17px;
}
.contact-us-btn:hover{
    background-color: rgb(23, 113, 187) ;
    color: white;

}



@media all and (min-width:680px){
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10vw;
    }
    .nav-lists ul{
        display: flex;
        /* background-color: yellow; */
        justify-content: space-between;
    }
    .nav-lists ul li{
        font-size: 1.2em;
        color: white;
        display: inline;
        margin: 0 1em;
        padding: 0.3em 0.5em;

        /* flex-shrink: 1; */
        /* background-color: yellow; */

        transition: border-bottom 0.1s linear;   
    }
    .nav-lists li:hover{
        border-bottom: 3px solid white;
       
    }

}

@media  all and (max-width:805px) {
    nav{
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }
    .nav-lists{
        position:absolute;
        background-color: rgba(165, 164, 164, 0.5);
        backdrop-filter: blur(10px);
        display: flex;
        border-radius: 20px;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        height: 0px;
        width:90vw;
        overflow: hidden;
        transition: height 0.2s linear;
        left:0vw ;
        top:40px
    }
    .nav-lists ul{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .nav-lists ul li{
        padding: 10px 0;

    }
    .show-nav-bar{
        height: 13em;
    }
    .nav-btn{
        display: inline;
        position: absolute;
        top:10px;
        right: 30px;
    }
}
@media screen and (min-width:680px) and (max-width:963px){
    nav{
        padding: 0px 2vw;
        
    }
    
}