.contact-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5em;
    background: url("../../assets/image/contact whole bg.png");
}

.contact-us-container > .title{
    margin:1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-left:10px solid rgb(23, 113, 187);
    border-bottom: 10px solid rgb(23, 113, 187);
   
}
.contact-detail{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
    width: 70vw;
    box-shadow: 2px 2px 10px rgb(136, 136, 136);
    border-radius: 1em;
    overflow: hidden;
}
.contact-information{
    flex-grow: 1;
    display:flex;
    min-width: 250px;
    width: 40%;
    color: white;
    flex-direction: column;
    justify-content: center;
    background: url("../../assets/image/contact info bg.png");
    background-size: cover;
}
.contact-information .icon-text{
    display: flex;
    justify-content: flex-start;
  
    align-items: center;
    margin: 1em 1em;
}
.contact-information span{
    margin-left: 1em;
}
.contact-information a{
    text-decoration: none;
    color: white;
}
.contact-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 60%;
    padding: 2em 0;
    backdrop-filter: brightness(80%);
}


.contact-form .field{
    margin: 1em;
    padding: 1em;   
    border: none;
    border-radius: 1em;
}
.contact-form .field:focus{
    outline: 2px solid  rgb(23, 113, 187) ;
}
.contact-form button{
    background-color: rgb(23, 113, 187);
    border:none;
    padding: 0.7em 1.2em;
    border-radius: 1em;
    color: white;
    font-size: 1em;
    align-self: center;
}
.contact-form button:hover{
    background-color: rgb(17, 82, 136);
}
.contact-information .title{
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top:1em;
    font-weight: bold;
}